<h1>List of ratings</h1>

<div class="my-3">
  <%= link_to 'New rating', new_rating_path, class:"btn btn-primary" %>
</div>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li><%= rating %> <%= link_to rating.user.username, user_path(rating.user.id) %></li>
  <% end %>
</ul>