<h1>List of ratings</h1>

<h3><%= link_to 'New rating', new_rating_path %></h3>

<ul>
  <% @ratings.each do |rating| %>
    <li><%= rating %> <%= link_to rating.user.username, user_path(rating.user.id) %></li>
  <% end %>
</ul>