<h1>Styles</h1>

<div class="my-3">
  <%= link_to "New style", new_style_path, class:"btn btn-primary" %>
</div>

<div id="styles">
  <% @styles.each do |style| %>
    <%= render style %>
    <p>
      <%= link_to "Show this style", style %>
    </p>
  <% end %>
</div>

