<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  <strong>Beers:</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
</p>

<div class="my-3">
  <%= edit_and_destroy_buttons(@style) %>
</div>